<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <!-- @TODO: 
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
  -->
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ff8000">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous" />
  <!-- @TODO:
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css" media="all">
  -->
</head>

<body>
  
  {{ content }}

  <script src="{{ site.baseurl }}/assets/main.js"></script>
</body>
</html>
